<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <meta name="description" content="FreeCodeCamp API Development Projects">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/2f1f0271-1aad-424c-a12c-ded09fb23cb2%2Ffavicon.ico?1504492152975" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        Request Header Parser Microservice
      </h1>
    </header>
    <main>
      <p>Click <a href="https://vast-squash.glitch.me/api/whoami">API link</a> to get your IP address
      </p>
      <p>Click <a href="https://github.com/xxyzz/request-header" target="_blank">here</a> to view source code
      </p>
    </main>
  </body>
</html>
